/*
 * Estilos de tu proyecto
 */
 
 /*//Estudiantes/*/

a{
	font-family: sans-serif;
	font-size: 18px;
	color: black;
    text-decoration: none;
    cursor: default;
}

#contenedor{
	width: 950px;
	margin: 50px 20%;
	padding-bottom: 30px;
	background-color: ;

}

#general{
	background-color: blue;
}

#col-lef{
	clear: both;
	float: left;
	width: 250px;
	height: 200px;
	padding-left: 30px;
	padding-top: 30px;}

.desing{
	clear: both;
	float: left;
	margin-top: 50px;

	font-family: sans-serif;
	font-size: 15px;
	border: 0px solid black;
	border-bottom: 1px solid black;
	background-color: transparent;}

.alumna{
	clear: both;
	width: 950px;
	height: 330px;
	margin-right: 500px;

	padding: 10px;
	padding-bottom: 20px;
  	background-color: #ededed;}

 .nombre{
 	font-family: sans-serif;
 	font-size: 25px;
 	margin-left: 270px; }

 .foto{
 	clear: both;
 	float: left;
 	margin-top: -90px;
 	width: 250px;
 	height: 250px;
 	background-color: #3d3d3d; }

 .actD{
 	clear: both;
 	color: white;
 	float: right;
 	background-color: #3d3d3d;
 	margin-right: 630px;
 	margin-top: -3px;
 	padding: 5px;
 	font-family: sans-serif;
 	text-transform: uppercase;
 }

.title{
	font-family: sans-serif;
	font-size: 22px;
	font-weight: normal;
}

.logo{
	width: 200px;
	height: auto;
	padding: 5px 40px;
	margin: 0% 40%;}

.opcions-exp{
	font-weight: bold;}

.designSprintN{
	clear: both;
	float: right;
	display: inline-block;
	margin-right: 620px;
	margin-top: -175px;
	background-color:;
	padding: 0px 10px;
	padding-left: 2px;
	padding-right: 5px;

	font-family: sans-serif;
	font-size: 18px;
}

.designScore{
	clear: both;
	color: white;
	display: inline;
	background-color: #3d3d3d;
	display: inline-block;
	margin-left: 90px;
	margin-top: -15px;
	padding-right:5px;
	padding-left: 10px;

	font-family: sans-serif;
	font-size: 18px
}

.designScoreD{
	clear: both;
	color: white;
	float: right;
	display: inline;
	background-color: #3d3d3d;
	margin-right: 300px;
	margin-top: -213px;
	padding-right: 80px;
	padding-left: 10px;

	font-family: sans-serif;
	font-size: 18px

}
.hide {
  display: none;
}

.DesignButton{
	clear: both;
	float: left;
	display: inline;
	width: 100px;
 	height: 42px;
 	margin-left: 150px;
	padding: 15px 32px;
 	background: rgba(77,77,77,0.3);
 	color: white;
 	border: none;
 	border-radius: 5px;
 	text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    transition: all 2s ease;
}

.DesignButton:hover {
 	width: 100px;
 	background: rgba(255,204,0,0.8);}


/*//Login/*/

body{
	background-image: url(".. /assets/images/backgroundLogin.jpg");
	width: 100%
	height:auto;
}

input{
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #ededed
}


.con-log{
	padding: 0px;
	margin: 20% 35%;
}
#button-log{
	margin-top: 10px;
 	width: 100px;
 	height: 42px;
 	background: rgba(77,77,77,0.3);
 	border-radius: 5px;
 	transition: all 2s ease;
}

#button-log:hover {
 	width: 85%;
 	background: rgba(255,204,0,0.8);
}



     /*//Tab//Overview//*/

.tab {
	float: left;
	margin-top: 250px;
	margin-right: 250: 
	font-size: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}




